#ignore all logfiles
*.log

#ignore workspace file
*.code-workspace
.DS_Store
venv/
.vscode/
.idea/



#apk
bin

#buildozer
keystore/*
buildozer/*
.buildozer/*

#pycache
__pycache__/
PokemonNuzlockeTracker/__pycache__/
PokemonNuzlockeTracker/PokemonNuzlockeTracker/GUI/__pycache__/
PokemonNuzlockeTracker/PokemonNuzlockeTracker/Logic/__pycache__/

#ignore testing folder
PokemonNuzlockeTracker/localTesting/*

